@charset "UTF-8";
/* CSS Document */

html {
	margin: 0;
	padding: 0;
	max-width: 1920px;
	min-height: 1000px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	background-color: #1F1F21;
	padding: 10%;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

body h3 {
	color: #27B68E;
	font-family: 'Fugaz One', cursive;
	font-size: 30px;
	margin: auto;
}


img {
	max-width: 100%;
    height: auto;
    width: auto\9;
	padding: 5% 0 0;
}

footer a {
	margin: auto 10px;
	text-decoration: none;
	color: #D7C962;
	font-size: 16px;
}

footer a:hover {
	color: #FFF;
}