@charset "UTF-8";
/* CSS Document */

html,body {
	margin: 0;
	padding: 0;
	max-width: 1920px;
	min-height: 1000px;
	width: 100%;
	overflow-x: hidden;
	font-family: Helvetica;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	padding: 2%;
	color: #D7C962;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 18px;
}

a:hover {
	color: #fff;
}

a.active {
	color: #27B68E;
}

nav {
	background-color: rgba(0,0,0,0.5);
	padding: 0.25%;
}

#title,#home,#art,#photography1,#photography2,#photography3,#photography4,#photography5,#photography6,#graphicdesign1,#videography1,#sounddesign1,#softwaredesign1,#resume,#contact {
	background-position: coords;
     -webkit-background-size: 'cover';
     -moz-background-size: 'cover';
     -o-background-size: 'cover';
     background-size: 'cover';
}

#title {
	background: #1F1F21 50% 0 repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#title article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
}

#title img {
	margin: 10% auto 0;
}

#home {
	background: url(../media/cyber.png) 50% 0 repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#home article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
}

#home main {
	background-color: #1F1F21;
	box-shadow: 0px 0px 5px #000;
	margin: 10% 0;
	padding: 10%;
}

#home h2 {
	font-size: 72px;
	margin: 0;
	color: #27B68E;
}

#home p {
	color: #D7C962;
	width: 75%;
	margin: auto;
	font-size: 20px;
}

#home a.main {
	padding: 0;
	color: #D7C962;
	text-shadow: 2px 2px 0px #000;
}

#home a.main:hover {
	color: #fff;
}

#art {
	background: url(../media/cyber.png) 50% 0 repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#art article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
}

#art main {
	margin: 2% auto;
	text-align: center;
	width: 100%;
}

#left,#right {
	float: left;
	display: inline-block;
	margin:  1% 25px;
	width: 15%;
	height: 675px;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px #000;
}

#left a,#right a {
	line-height: 6;
	color: #fff;
}

#left a:hover,#right a:hover{
	color: #D7C962;
}

#art div.outer {
	border: solid 2px rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px #000;
	width: 55%;
	float: left;
	display: inline-block;
	margin: 1% 0;
	padding: 1.5%;
}

#photography1,#photography2,#photography3,#photography4,#photography5,#photography6,#graphicdesign1,#videography1,#sounddesign1,#softwaredesign1 {
	background: url(../media/cyber.png) 50% 0 repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#photography1 article,#photography2 article,#photography3 article,#photography4 article,#photography5 article,#photography6 article,#graphicdesign1 article,#videography1 article,#sounddesign1 article,#softwaredesign1 article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
}

#photography1 h1,#photography2 h1,#photography3 h1,#photography4 h1,#photography5 h1,#photography6 h1,#graphicdesign1 h1,#videography1 h1,#sounddesign1 h1,#softwaredesign1 h1 {
	color: #D7C962;
	margin: 2% 0px;
}

#photography1 p,#photography2 p,#photography3 p,#photography4 p,#photography5 p,#photography6 p,#graphicdesign1 p,#videography1 p,#sounddesign1 p,#softwaredesign1 p {
	color: #FFFFFF;
	margin: 2% 0px;
}

.one,.two {
	width: 35%;
	float: left;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px #000;
	margin: 5%;
	padding: 2%;
	height: 300px;
}

.one img,.two img {
	padding: 2%;
}

#resume {
	background: url(../media/cyber.png) 50% 0 repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#resume article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
}

#resume main {
	background-color: #1F1F21;
	box-shadow: 0px 0px 5px #000;
	margin: 10% 0;
	padding: 2%;
}

#contact {
	background: #1F1F21 50% 0 repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#contact article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
	color: #D7C962;
}

#contact img {
	margin: 5% auto 0;
}

#contact div {
	margin: 10% 0 0;
}

#contact a.main {
	padding: 0;
	color: #D7C962;
	text-shadow: 2px 2px 0px #000;
}

#contact a.main:hover {
	color: #fff;
}

#contact h2 {
	font-size: 72px;
	margin: 0;
	color: #27B68E;
}

#contact p {
	width: 75%;
	margin: auto;
	font-size: 16px;
}