@charset "UTF-8";
/* Mobile Layout - DEFAULT */

/* COLOR SCHEME
	#dde5e1 OR rgb(221,229,225)
	#a9b8b3 OR rgb(169,184,179)
	#7b8689 OR rgb(123,134,137)
	#4d4240 OR rgb(77,66,64)
	#007978 OR rgb(0,121,120)

	IMPORTANT ACCENT COLOR:
		#d6666f OR rgb(214,102,111)*/

body{
	background-color: #dde3e1;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #4d4240;
}

#entrance{
	width: 100%;
}

#entrance a{
	font-size: 16px;
}

#entrance a:hover{
	color: #d6666f;
	font-size: 16px;
}

#entrance img{
	width: 20em;
	margin: 7em auto 0;
}

#nav {
	margin: auto;
	width: 88%;
	padding: 0 auto;
	border-bottom: .3em solid #007879;
	border-radius: 1em;
}

#nav a {
	line-height: 2em;
	display: inline-block;
	margin: auto .15em;
	padding: 0;
	text-decoration: none;
	color: #4d4240;
}

#scrollContent {
	width: 90%;
	margin: 2em auto;
	padding: 0;
}

article {
	margin: .5em auto 0;
}

video {
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #007879;
	text-decoration: none;
}

a:hover {
	color: #4d4240;
}

.projectMainIMG {
	width: 80%;
	height: auto;
	margin: auto;
}

.projectIMG {
	width: 45%;
	height: auto;
	margin: 0;
	padding: .4em .15em;
	vertical-align: middle;
}

footer a {
	text-decoration: none;
	color: #007879;
	font-size: 1.5em;
}

/* Phone Landscape -> Tablet Size */
@media all and (min-width: 30em){
	#entrance img {margin: 2em auto 0;}
	#nav a {margin: auto .35em}
}

@media all and (min-width: 48em){
	#entrance img {width: 30em; margin: 6em auto 0}
	#nav a {margin: auto .6em}
}

@media all and (min-width: 64em){
	#scrollContent {height: 52em; overflow-y: scroll; cursor: ns-resize;}
	footer a {color: #dde3e1; cursor: default;}
	.projectIMG {padding: 2em 1em}
	article p {width: 75%; margin: auto auto .5em;}
}