@charset "UTF-8";
/* CSS Document */

html {
	margin: 0;
	padding: 0;
	max-width: 1920px;
	min-height: 1000px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
}

nav {
	color: #1E2B43;
	font-family: 'Barrio', cursive;
	font-size: 46px;
	margin: 0 auto;
	padding: .0;
}

h1 {
	margin: 0 auto;
	padding: 0;
}

h1:hover {
	color: #C69;
}

body {
	background-color: #80C6F0;
}

#squid {
	margin: 4% auto 0;
	padding: 0;
	z-index: 1;
	position: absolute;
	left: 43%;
}

#bubbleone {
	z-index: 0;
	background-color: #D3EDF4;
	position: absolute;
	width: 75px;
	height: 90px;
	left: 45%;
	margin: 0 auto;
	padding: 0;
	border-radius: 50%;
	animation: bubbleone-ani 5.5s linear infinite;
}

#bubbletwo {
	z-index: 0;
	background-color: #B6E1E3;
	position: absolute;
	width: 58px;
	height: 70px;
	margin: 0 auto;
	padding: 0;
	left: 51%;
	border-radius: 50%;
	animation: bubbletwo-ani 6s linear infinite;
}

#bubblethree {
	z-index: 0;
	background-color: #ACF3FF;
	position: absolute;
	width: 60.5px;
	height: 75px;
	margin: 0 auto;
	padding: 0;
	left: 48.5%;
	border-radius: 50%;
	animation: bubblethree-ani 7s linear infinite;
}

@keyframes bubbleone-ani {
	0% {opacity: .0; margin: 5% 0;}
	50% {opacity: 1; margin: 25% 0;}
	100% {opacity: .0; margin: 45% 0;}
}

@keyframes bubbletwo-ani {
	0% {opacity: .0; margin: 16% 0;}
	50% {opacity: 1; margin: 36% 0;}
	100% {opacity: .0; margin: 46% 0;}
}

@keyframes bubblethree-ani {
	0% {opacity: .0; margin: 10% 0;}
	50% {opacity: 1; margin: 30% 0}
	100% {opacity: .0; margin: 50% 0}
}

#left {
	position: absolute;
	left: 0;
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	animation: bubble-ani 15s linear infinite;
	z-index: 0;
}

#right {
	position: absolute;
	right: 0;
	 max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	animation: bubble-ani 15s linear infinite;
	z-index: 0;
}

@keyframes bubble-ani {
	0% {opacity: .0; margin: 0;}
	50% {opacity: .5; margin: 5% 0}
	100% {opacity: .0; margin: 0}
}