@charset "UTF-8";
/* CSS Document */

.footerstyle {
	padding: 2px;
	margin: 6px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}

#headertext {
	margin: 6px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 40px;
	font-weight: bolder;
	color: #251138;
	text-align: left;
}

#bodybox {
	padding: 200px 50px 200px 50px;
	margin: 45px 20px 45px 20px;
}

nav {
	text-align: right;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
	border-top: 2px solid #43384E;
	border-bottom: 2px solid #43384E;
	padding: 6px;
	margin: 0px;
	background-color: #9BC5B1;
	color: #FFFFFF;
}

footer {
	border-top: 2px solid #43384E;
	border-bottom: 2px solid #43384E;
	padding: 1.5px;
	margin: 4px 0px 0px 0px;
	background-color: #9BC5B1;
}

header {
	background-image: url(insertimagehere.jpg)
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #413552;
	font-size: 21px;
}

a:active {
	color: #413552;
	font-size: 24px;
}

body {
	text-align: center;
}

p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 28px;
	padding: 10px;
}

#hello {
	font-weight: bold;
	font-size: 40px;
	padding: 0px;
	margin: 0px;
}

#myname {
	padding: 0px;
	margin: 0px;
}

#specialspacing {
	padding: 100px 0px 18px 0px;
	margin: 0px;
}

#list {
	padding: 0px;
	margin: 0px;
	font-size: 23px;
	font-weight: lighter;
}

.specialspacing {
	padding: 100px 0px 100px 0px;
	margin: 0px;
}

