@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(cyber.png);
}

#box {
	border-top: 8px solid #2ED6AC;
	border-left: 8px solid #2ED6AC;
	border-bottom: 8px solid #50FFD3;
	border-right: 8px solid #50FFD3;
	background-color: #fff;
	margin: 60px auto 100px auto;
	width: 960px;
	padding: 15px 50px;
}

header {
	padding: 0px 12px;
	width: 260px;
	text-align: center;
	line-height: 25px;
	font-family: Book Antiqua, serif;
}

nav {
	text-align: center;
	margin: 0px 0px 3px 0px;
	border-bottom: 3px solid #89341A;
	font-family: Helvetica, sans-serif;
}

main {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

footer {
	text-align: center;
	margin: 3px 0px 0px 0px;
	border-top: 3px solid #89341A;
	font-family: Book Antiqua, serif;
}

.serifheaders {
	font-family: Book Antiqua, serif;
}

a {
	color: #D68E78;
	text-decoration: none;
	font-size: 18px;
}

a:hover {
	color: #89341A;
}