@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(cyber.png);
}

#left {
	padding: 45px 50px;
	box-shadow: 0px 0px 43px black;
	text-align: center;
	width: 320px;
	background-color: #10896B;
	float: left;
	display: inline-block;
}

#right {
	border-top: 3px solid #2ED6AC;
	border-left: 3px solid #2ED6AC;
	border-bottom: 3px solid #50FFD3;
	border-right: 3px solid #50FFD3;
	padding: 45px 50px;
	box-shadow: 0px 0px 8px black;
	text-align: center;
	width: 640px;
	background-color: #fff;
	float: right;
	display: inline-block;	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

#title {
	border-top: 8px solid #2ED6AC;
	border-left: 8px solid #2ED6AC;
	border-bottom: 8px solid #50FFD3;
	border-right: 8px solid #50FFD3;
	background-color: #fff;
	width: 960px;
	box-shadow: 0px 0px 85px black;
	margin: 130px auto 100px auto;
	padding: 30px 50px 45px 50px;
	text-align: center;
	font-family: Gotham, sans-serif;
}

header {
	width: 200px;
	float: center;
	display: inline-block;
	line-height: 26px;
}

a {
	color: #000;
	text-decoration: none;
	border-top: 3px solid #89341A;
	border-left: 3px solid #89341A;
	border-bottom: 3px solid #D68E78;
	border-right: 3px solid #D68E78;
	/* Gradient Backdrop */
	background: rgb(214,142,120); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(214,142,120,1) 12%, rgba(137,52,26,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(214,142,120,1) 12%,rgba(137,52,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(214,142,120,1) 12%,rgba(137,52,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d68e78', endColorstr='#89341a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 8px 12px;
}

a:hover {
	cursor: pointer;
}

img {
	padding: 93px;
}

#centerit {
	width: 1175px;
	margin: 100px auto 30px auto;
}

footer {
	text-align: center;
	float: center;
	padding: 50px;
	margin: 80px 420px;
	width: 960px;
	display: inline-block;
}

p {
	font-family: Gotham, sans-serif;
}

h2 {
	font-family: Monaco, monospace;
}