@charset "UTF-8";
/* CSS Document */

body {
	background-color: #222122;
	
}


a:hover {
	cursor: pointer;
}

#headfloat {
	text-align: center;
	float: right;
	padding: 0;
	display: inline-block;
	width: 300px;
	color: #50FFD3;
	font-family: Gotham, sans-serif;
}

#second {
	padding: 0px 5px 5px 5px;
	margin: 2px;
	font-size: 14px;
}

#first {
	padding: 5px;
	margin: 0;
	font-size: 50px;
	line-height: 45px;
}

img {
	margin: 5px;
	float: center;
}

div {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}