@charset "UTF-8";
/* CSS Document */

body {
	background-color: #222122;
}

div {
	margin: 2px auto 100px auto;
	width: 1250px;
}

a:hover {
	cursor: pointer;
}

p {
	font-family: Gotham, sans-serif;
	font-size: 15px;
	color: #50FFD3;
	float: left;
	display: inline-block;
	width: 180px;
	margin: 0px;
}

h1 {
	text-align: center;
	float: right;
	display: inline-block;
	width: 200px;
	color: #50FFD3;
	font-family: Gotham, sans-serif;
	font-size: 50px;
	line-height: 45px;
}
