@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(cyber.png);
}

a {
	border-top: 3px solid #89341A;
	border-left: 3px solid #89341A;
	border-bottom: 3px solid #D68E78;
	border-right: 3px solid #D68E78;
	padding: 8px 12px;
	color: #000;
	/* Gradient Backdrop */
	background: rgb(214,142,120); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(214,142,120,1) 12%, rgba(137,52,26,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(214,142,120,1) 12%,rgba(137,52,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(214,142,120,1) 12%,rgba(137,52,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d68e78', endColorstr='#89341a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}